### API search for lat and lon

In [1]:
import pandas as pd
from config import (gkey)
import gmaps
import requests

In [2]:
csv_file = "Resources/data/data_raw.csv"
customer_data_df = pd.read_csv(csv_file)
customer_data_df.head()

,current_state,year,population,same_house,same_state,from_different_state_Total,abroad_Total,from,number_of_people
0,Alabama,2010,4729509,3987155,620465,108723,13166,Alabama,0
1,Alaska,2010,702974,565031,95878,36326,5739,Alabama,477
2,Arizona,2010,6332786,5069002,1001991,222725,39068,Alabama,416
3,Arkansas,2010,2888304,2387806,412997,79127,8374,Alabama,1405
4,California,2010,36907897,30790221,5413287,444749,259640,Alabama,3364

In [3]:
states = customer_data_df['current_state'].drop_duplicates()

In [4]:
states_df = pd.DataFrame({'state':states})

In [5]:
# create a params dict that will be updated with new city each iteration
params = {"key": gkey}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in states_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    state = row['state']

    # update address key value
    params['address'] = (state)

    # make request
    state_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    state_lat_lng = state_lat_lng.json()

    states_df.loc[index, "lat"] = state_lat_lng["results"][0]["geometry"]["location"]["lat"]
    states_df.loc[index, "lng"] = state_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [6]:
states_df.head()

        state        lat         lng
0     Alabama  32.318231  -86.902298
1      Alaska  64.200841 -149.493673
2     Arizona  34.048928 -111.093731
3    Arkansas  35.201050  -91.831833
4  California  36.778261 -119.417932

In [7]:
len(states_df)

52

In [8]:
states_df.to_csv("Resources/data/state_coord.csv", index = False)